{% extends 'base_page.html' %}
{% load static %}
{% load date_filters %}

{% block template_styles %}
{% endblock template_styles %}

{% block template_js %}
{% endblock template_js %}

{% block title %}بول کال اسپرد{% endblock title %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

{% block main_body %}
<div>
    <!-- Cards -->
    <div id="info_cards" class="cards px-5 mt-5" hidden>
        <div class="card card-violent" id="all_pairs_counter">
            کل جفت‌های بررسی‌شده: 0
        </div>
        <div class="card card-green" id="filtered_spreads_counter">
            اسپردهای فیلترشده و سودده: 0
        </div>
    </div>

    <!-- Filters -->
    <div class="mx-2 px-5 py-2 mt-5 flex_container" style="align-items: stretch;">

        <div class="flex_container" style="flex-flow:col nowrap; justify-content: space-between;">
            <div style="width: 100%;" class="mt-5">
                <span id="deal_count_select_live">0</span>
                <span>معامله</span>
                <input type="range" class="form-range" min="0" max="10000" step="1" id="deal_count_select" value="0">
                <label for="deal_count_select" class="form-label">حداقل تعداد معاملات</label>
            </div>

            <div style="width: 100%;" class="mt-5">
                <span id="deal_volume_select_live">0</span>
                <span>سهم</span>
                <input type="range" class="form-range" min="0" max="1000000" step="100" id="deal_volume_select" value="0">
                <label for="deal_volume_select" class="form-label">حداقل حجم معاملات</label>
            </div>

            <div style="width: 100%;" class="mt-5">
                <span id="deal_value_select_live">0</span>
                <span>تومان</span>
                <input type="range" class="form-range" min="0" max="1000000000" step="1000000" id="deal_value_select" value="0">
                <label for="deal_value_select" class="form-label">حداقل ارزش معاملات</label>
            </div>

            <select class="selectpicker form-control mt-5" multiple
                id="stocks_select"
                title="انتخاب سهام"
                data-live-search="true"
                data-selected-text-format="count > 5"
                data-style="btn-dark"
                show-menu-arrow>
                {% for stock in stocks %}
                <option value="{{stock.pk}}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
        </div>

        <div style="align-self: center;" class="mt-5">
            <button type="button" id="show_based_price_filters" class="btn btn-success">نمایش براساس فیلترها</button>
        </div>
    </div>

    <!-- Table -->
    <div class="mx-2 mt-5 px-5 pt-2 border-top border-dark border-3">
        <table class="table table-striped table-hover" id="contract_table">
            <thead>
                <tr class="text-center align-middle">
                    <th>ردیف</th>
                    <th>نماد سهم</th>
                    <th>قیمت سهم</th>
                    <th>اعمال خرید (K1)</th>
                    <th>قیمت خرید (Ask)</th>
                    <th>اعمال فروش (K2)</th>
                    <th>قیمت فروش (Bid)</th>
                    <th>سررسید</th>
                    <th>مانده تا سررسید</th>
                    <th>هزینه خالص (دبیت)</th>
                    <th>نقطه سربه‌سر</th>
                    <th>حداکثر سود</th>
                    <th>بازده حداکثر (%)</th>
                    <th>بازده روزانه (%)</th>
                    <th>بازده سالانه (%)</th>
                    <th>نسبت ریسک به ریوارد</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function() {
        $("#option_strategies").addClass("active");

        function value2color(value, min_profit, max_profit) {
            if(value < min_profit) {
                value = min_profit;
            }
            if(value > max_profit) {
                value = max_profit;
            }

            const ratio = (value - min_profit) / (max_profit - min_profit);
            const r = Math.round(255 * (1 - ratio));
            const g = Math.round(255 * ratio);
            const b = 100;

            return `rgb(${r}, ${g}, ${b})`;
        }

        function number2words(num) {
            if(num === 0 || num === "0") {
                return "صفر";
            }
            const yekan = ["", "یک", "دو", "سه", "چهار", "پنج", "شش", "هفت", "هشت", "نه"];
            const dahyekan = ["ده", "یازده", "دوازده", "سیزده", "چهارده", "پانزده", "شانزده", "هفده", "هجده", "نوزده"];
            const dahgan = ["", "", "بیست", "سی", "چهل", "پنجاه", "شصت", "هفتاد", "هشتاد", "نود"];
            const sadgan = ["", "صد", "دویست", "سیصد", "چهارصد", "پانصد", "ششصد", "هفتصد", "هشتصد", "نهصد"];
            const hezargan = ["", "هزار", "میلیون", "میلیارد", "تریلیون"];

            function threeDigits2word(n) {
                let word = "";
                let s = Math.floor(n / 100);
                let d = Math.floor((n % 100) / 10);
                let y = n % 10;
                
                if (s !== 0) {
                    word += sadgan[s] + " ";
                    if (d > 0 || y > 0) {
                        word += "و ";
                    }
                }

                if (d === 1) {
                    word += dahyekan[y] + " ";
                    return word;
                } else if(d !== 0) {
                    word += dahgan[d] + " ";
                    if(y > 0) {
                        word += "و ";
                    }
                }
                if(y !== 0) {
                    word += yekan[y] + " ";
                }
                return word;
            }
            
            let parts = [];
            let groupIndex = 0;
            let n = parseInt(num, 10);
            
            while(n > 0) {
                let threeDigits = n % 1000;
                if(threeDigits !== 0) {
                    let part = threeDigits2word(threeDigits);
                    part += hezargan[groupIndex];
                    parts.push(part.trim());
                }

                n = Math.floor(n / 1000);
                groupIndex++;
            }

            return parts.reverse().join(" و ");
        }

        const deal_count_select_live = document.getElementById("deal_count_select_live");
        document.getElementById("deal_count_select").addEventListener('input', function(){
            deal_count_select_live.textContent = number2words(this.value);
        });

        const deal_volume_select_live = document.getElementById("deal_volume_select_live");
        document.getElementById("deal_volume_select").addEventListener('input', function(){
            deal_volume_select_live.textContent = number2words(this.value);
        });

        const deal_value_select_live = document.getElementById("deal_value_select_live");
        document.getElementById("deal_value_select").addEventListener('input', function(){
            deal_value_select_live.textContent = number2words(this.value);
        });
    
        document.getElementById('show_based_price_filters').addEventListener('click', function() {
            const selected_deal_count = document.getElementById("deal_count_select").value;
            const selected_deal_volume = document.getElementById("deal_volume_select").value;
            const selected_deal_value = document.getElementById("deal_value_select").value;
            const stocks_select = document.getElementById("stocks_select");
            const selected_stocks = Array.from(stocks_select.selectedOptions).map(opt => opt.value);

            fetch("/option_strategy/bull_call_spread/all/", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    min_deal_count: selected_deal_count,
                    min_deal_volume: selected_deal_volume,
                    min_deal_value: selected_deal_value,
                    stocks: selected_stocks,
                })
            })
            .then(response => response.json())
            .then(result => {
                const data = result.data;
                
                const all_pairs_counter = document.getElementById('all_pairs_counter');
                all_pairs_counter.innerHTML = "کل جفت‌های بررسی‌شده: " + result.total_pairs_evaluated;

                const filtered_spreads_counter = document.getElementById('filtered_spreads_counter');
                filtered_spreads_counter.innerHTML = "اسپردهای فیلترشده و سودده: " + result.filtered_spreads_count;

                document.getElementById('info_cards').hidden = false;

                const tbody = document.querySelector('#contract_table tbody');
                tbody.innerHTML = '';

                let counter = 0;
                data.forEach(spread => {
                    const row = document.createElement('tr');
                    row.classList.add('text-center', 'align-middle');

                    counter++;
                    const index = document.createElement('td');
                    index.textContent = counter;
                    row.appendChild(index);

                    const symbol = document.createElement('td');
                    symbol.textContent = spread.stock;
                    row.appendChild(symbol);

                    const stock_price = document.createElement('td');
                    stock_price.textContent = spread.stock_price;
                    row.appendChild(stock_price);

                    const long_strike = document.createElement('td');
                    long_strike.textContent = spread.long_strike;
                    row.appendChild(long_strike);

                    const long_buy_price = document.createElement('td');
                    long_buy_price.textContent = spread.long_buy_price;
                    row.appendChild(long_buy_price);

                    const short_strike = document.createElement('td');
                    short_strike.textContent = spread.short_strike;
                    row.appendChild(short_strike);

                    const short_sell_price = document.createElement('td');
                    short_sell_price.textContent = spread.short_sell_price;
                    row.appendChild(short_sell_price);

                    const expiration_date = document.createElement('td');
                    expiration_date.textContent = spread.expiration_date;
                    row.appendChild(expiration_date);

                    const days_remaining = document.createElement('td');
                    days_remaining.textContent = spread.days_remaining + " روز";
                    row.appendChild(days_remaining);

                    const net_debit = document.createElement('td');
                    net_debit.textContent = spread.net_debit;
                    net_debit.style.direction = 'ltr';
                    row.appendChild(net_debit);

                    const breakeven_price = document.createElement('td');
                    breakeven_price.textContent = spread.breakeven_price;
                    breakeven_price.style.direction = 'ltr';
                    row.appendChild(breakeven_price);

                    const max_profit = document.createElement('td');
                    max_profit.textContent = spread.max_profit;
                    max_profit.style.direction = 'ltr';
                    row.appendChild(max_profit);

                    const max_profit_percent = document.createElement('td');
                    max_profit_percent.textContent = spread.max_profit_percent + "%";
                    max_profit_percent.style.direction = 'ltr';
                    max_profit_percent.style.backgroundColor = value2color(spread.max_profit_percent, 10, 100);
                    row.appendChild(max_profit_percent);

                    const daily_profit_percent = document.createElement('td');
                    daily_profit_percent.textContent = spread.daily_profit_percent + "%";
                    daily_profit_percent.style.direction = 'ltr';
                    daily_profit_percent.style.backgroundColor = value2color(spread.daily_profit_percent, 0.2, 2);
                    row.appendChild(daily_profit_percent);

                    const yearly_profit_percent = document.createElement('td');
                    yearly_profit_percent.textContent = spread.yearly_profit_percent + "%";
                    yearly_profit_percent.style.direction = 'ltr';
                    yearly_profit_percent.style.backgroundColor = value2color(spread.yearly_profit_percent, 30, 200);
                    row.appendChild(yearly_profit_percent);

                    const risk_reward_ratio = document.createElement('td');
                    risk_reward_ratio.textContent = "1 : " + spread.risk_reward_ratio;
                    risk_reward_ratio.style.direction = 'ltr';
                    row.appendChild(risk_reward_ratio);

                    tbody.appendChild(row);
                });
            })
            .catch(error => {
                console.error("Error:", error);
            });
        });
    });
</script>
{% endblock main_body %}