{% extends 'base_page.html' %}
{% load static %}

{% block template_styles %}
<link rel="stylesheet" href="{% static 'tse_downloader/setup.css' %}">
{% endblock template_styles %}

{% block template_js %}

{% endblock template_js %}

{% block title %} تنظیمات دانلود{% endblock title %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

{% block main_body %}
<div class="flex_container">
    <div>
        <div class="cards">
            <div class="card card-violent">برای تنظیمات دانلود</div>
        </div>
    </div>
    <div>
        <button type="button" id="download_triger_btn" class="btn btn-primary">شروع دانلود</button>
    </div>

</div>
<script>
    $(document).ready(function () {
        $("#tse_download_setup").addClass("active");
        document.getElementById('download_triger_btn').addEventListener('click', function() {
            const xhr = new XMLHttpRequest();
            xhr.onload = function(){
                var result = xhr.response;

                Toastify({
                text: "دانلود انجام شد" + " " + result.msg ,
                duration: 10000,
                newWindow: true,
                close: true,
                gravity: "bottom", // `top` or `bottom`
                position: "left", // `left`, `center` or `right`
                offset: {
                    x: 30, // horizontal axis - can be a number or a string indicating unity. eg: '2em'
                    y: 30 
                },
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    background: "rgb(9, 243, 126)",
                    "font-family" :"Times New Roman",
                },
                onClick: function(){} // Callback after click
                }).showToast();



                console.log(result);
                console.log("response is ready:");
                console.log(result.msg);
            }
            xhr.open("GET", "/tse/download", true);
            xhr.responseType = 'json';
            xhr.send();
            Toastify({
                text: "شروع دانلود ...     ",
                duration: 6000,
                newWindow: true,
                close: true,
                gravity: "bottom", // `top` or `bottom`
                position: "left", // `left`, `center` or `right`
                offset: {
                    x: 30, // horizontal axis - can be a number or a string indicating unity. eg: '2em'
                    y: 30 
                },
                stopOnFocus: true, // Prevents dismissing of toast on hover
                style: {
                    background: "rgb(243, 32, 113)",
                },
                onClick: function(){} // Callback after click
            }).showToast();
        });
    });
</script>
{% endblock main_body %}