{% extends 'base_page.html' %}
{% load static %}

{% block template_styles %}
{% endblock template_styles %}

{% block template_js %}
{% endblock template_js %}

{% block title %}زنجیره اختیار معامله{% endblock title %}

{% block sidebar %}
{% include 'sidebar.html' %}
{% endblock sidebar %}

{% block main_body %}
<div>
    <div class="cards px-5 py-5">
        <div class="card card-violent">
            تعداد سهام زنجیره اختیار: {{ option_chain|length }}
        </div>
        <div class="card card-green">
            رزرو 
        </div>
        <div class="card card-red">
            رزرو
        </div>
    </div>

    <div class="px-5 py-5 flex_container" style="flex-flow:row nowrap;">
        <a class="btn btn-outline-danger" href="/tse/delete/stocks/with/contracts/all/">حذف زنجیره اختیار</a>

        <a class="btn btn-outline-danger" href="#">رزرو</a>

        <a class="btn btn-outline-danger" href="#">رزرو</a>
    </div>

    <div class="px-5 py-5">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th>ID</th>
                    <th>نماد</th>
                    <th>نام</th>
                    <th>گروه</th>
                    <th>قراردادها</th>
                    <th>ویرایش</th>
                    <th>حذف</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in option_chain %}
                <tr class="text-center">
                    <th>{{ stock.pk }}</th>
                    <th>{{ stock.symbol }}</th>
                    <th>{{ stock.name }}</th>
                    <th>{{ stock.group }}</th>
                    <th><a class="btn btn-outline-primary" href="/option/contracts/{{ stock.pk }}/">قراردادها</a></th>
                    <th><a class="btn btn-outline-primary" href="#">ویرایش</a></th>
                    <th><a class="btn btn-outline-danger" href="#">حذف</a></th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#options").addClass("active");

        /* const xhr = new XMLHttpRequest();
        xhr.onload = function(){
            var result = this.responseText;
            console.log("response is ready:");
            console.log(result);
        }
        xhr.open("GET", "/excel/list", true);
        xhr.send(); */
    });
</script>
{% endblock main_body %}